* text eol=lf

*.bat text eol=crlf

*.sh text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.ini text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.command text eol=lf
*.qrc text eol=lf

*.png binary
*.jpg binary
*.ods binary

*.txt text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
